.Projects {
  border: 1px solid darkolivegreen;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(17, 0, 255, 0.075);
  margin-bottom: 70px;
  padding-bottom: 130px;
}

.Projects .title {
  padding-bottom: 100px;
}

.Projects .projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  flex-wrap: wrap;
}

.Projects .bootcamp-title {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 1.9rem;
  text-decoration: underline gold;
}

@media (max-width: 1135px) {
  .Projects .projects-container {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .Projects {
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
  }
}

@media (max-width: 820px) {
  .Projects .projects-container {
    gap: 100px;
  }
}

@media (max-width: 430px) {
  .Projects .bootcamp-title {
    width: 20ch;
    text-align: start;
    font-size: 1.5rem;
  }
}
