.About {
  gap: 150px;
  border: 1px solid darkgoldenrod;
  margin-top: 10dvh;
  background-color: rgba(184, 135, 11, 0.075);
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 100px;
}

.About .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.About #name {
  color: greenyellow;
}

.About #job {
  color: gold;
}

.About p {
  font-size: 1.1rem;
  line-height: 2.3;
  letter-spacing: 2.6px;
  width: 57ch;
  font-family: cursive, "Arial", sans-serif;
}

.About #company {
  color: lightcoral;
}

.About .tech {
  color: rgba(172, 255, 47, 0.848);
}

.About .img-container {
  width: 400px;
  height: 550px;
  border: 3px solid rgb(82, 82, 82);
  border-radius: 23%;
  position: relative;
}

.About .img-container img {
  position: absolute;
  top: -80px;
  left: 0px;
}

@media (max-width: 1770px) {
  .About {
    margin-top: 15vh;
  }
  .About .about-container {
    flex-direction: column;
  }

  .About .title {
    padding-bottom: 50px;
  }

  .About p {
    font-size: 1.3rem;
  }
  .About .img-container {
    margin-top: -70px;
  }
  .About .img-container img {
    top: -70px;
  }
}

@media (max-width: 820px) {
  .About p {
    width: 30ch;
  }
}

@media (max-width: 430px) {
  .About p {
    font-size: 1rem;
  }
  .About .img-container {
    width: 300px;
    height: 400px;
  }
  .About .img-container img {
    width: 300px;
    top: -60px;
  }
}
