.Tech {
  border: 1px solid darkcyan;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  background-color: rgba(11, 184, 124, 0.075);
}

.Tech .title {
  padding-bottom: 70px;
}
