* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}

.section {
  position: relative;
  margin: 0 10dvw;
  border-radius: 20px;
  padding: 80px;
}

.title {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

.cards-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 200px;
  border: 2px solid darkseagreen;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.687);
  padding: 40px;
}

.tooltip,
.hasan-tooltip {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  width: 170px;
  padding: 10px;
  background-color: rgba(45, 36, 107, 0.546);
  color: gold;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip .tooltip-text {
  left: 45px;
  top: -40px;
}

.tooltip:hover .tooltip-text,
.hasan-tooltip:hover .tooltip-text {
  visibility: visible;
}

.hasan-tooltip .tooltip-text {
  left: 100px;
  top: -42px;
}
